<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All the posts</title>
</head>
<body>
<h1>Viewing all posts</h1>
<div th:each="item: ${posts}">
    <h1 th:text="${item.getUser().getUsername()}">User Who Posted: </h1>
    <h3 th:text="${item.getTitle()}">Title: </h3>
    <p th:text="${item.getBody()}">Title: </p>
<!--    Need to add in conditional rendering for delete and edit functionality    -->
</div>
</body>
</html>